<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Set Lights</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<form action="#" th:action="@{/}" th:object="${server}" method="post">

		<p>
			You can set the light threshold and switch it on/off.
		</p>
		<p>
			Threshold: <input type="text" th:field="*{lightThreshold}" />
		</p>
		<p>
			Switch: <input type="checkbox" th:field="*{lightState}" />
		</p>

		<input type="submit" value="Set" />
	</form>

	<th:block th:each="m : ${msgs}">
		<p th:text="${m}"></p>
	</th:block>


</body>
</html>